@font-face {
    font-family: Playwrite;
    src: url(PlaywriteGBS-Regular.ttf);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #ee2b7a;
}

nav {
    background-color: #ffffff;
    position: sticky;
    font-family: Playwrite;
    color: #ee2b7a;
    word-spacing: 20px;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

.navLinks:link, .navLinks:visited {
    color: #ee2b7a;
    text-decoration: none;
}

.navLinks:hover {
    color: #c92466;
    text-decoration: underline;
}
header {
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
    margin: 0;
    height: 80vh;
    width: 100vw;
}

h1 {
    font-family: Playwrite;
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-size: 3rem;
}

h2 {
    font-family: Playwrite;
    color: #fff4c2;
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

.about {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: Playwrite;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#aboutCredit {
    font-size: 1rem;
    margin: 0;
}

#subLink:link, #subLink:visited {
    color: #ffffff;
    text-decoration: none;
}

#subLink:hover {
    color: #fff4c2;
    text-decoration: underline;
}

.causeList, .stageList {list-style-position: inside;}

.listParagraph {
    color: #fff4c2;
    font-weight: 600;
}

.cm {text-decoration: none;}

#lymphNodes {
    color: #ffffff;
    font-style: normal;
    text-decoration: underline;
}

#lymphNodes:hover {color: #fff4c2;}

.treatmentList {
    list-style-position: inside;
}