@font-face {
    font-family: Playwrite;
    src: url(PlaywriteGBS-Regular.ttf);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #f70264;
}

nav {
    background-color: #f70264;
    position: sticky;
    font-family: Playwrite;
    word-spacing: 20px;
    width: 100vw;
    top: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    border-bottom: 2px solid #fff4c2
}

.navLinks:link, .navLinks:visited {
    color: #ffffff;
    text-decoration: none;
}

.navLinks:hover {
    color: #fff4c2;
    text-decoration: underline;
}

header {
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
    margin: 0;
    height: 80vh;
    width: 100vw;
}

h1 {
    font-family: Playwrite;
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-size: 3rem;
}

h2 {
    font-family: Playwrite;
    color: #fff4c2;
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

article {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: Playwrite;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#aboutCredit {
    font-size: 1rem;
    margin: 0;
}

#subLink:link, #subLink:visited, .fundraiser:link, .fundraiser:visited {
    color: #ffffff;
    text-decoration: none;
}

#subLink:hover, .fundraiser:hover {
    color: #fff4c2;
    text-decoration: underline;
}

ol, ul {list-style-position: inside;}

.stageList {
    list-style-position: inside;
    background-color: #fff4c2;
    color: #f70264;
    margin-left: 250px;
    margin-right: 250px;
    margin: 100px;
    border: 2px solid #f70264;
    border-radius: 16px;
    padding: 5px;
    margin-top: 150px;
}

.listParagraph {
    color: #ffffff;
    font-weight: 600;
}

#lymphNodes {
    color: #f70264;
    font-style: normal;
    text-decoration: underline;
}

#lymphNodes:hover {text-decoration: none;}

#cancerStatsImg {
    float: left;
    border-radius: 16px;
    border: 2px solid #fff4c2;
}

#treatmentText {margin: 0;}